:root {
  /* Neutral Grey */
  --neutral-grey: #bebebe;
  /* Light Pattern Overlay */
  --light-overlay: rgba(255, 255, 255, 0.2);
  /* Dark Pattern Overlay */
  --dark-overlay: rgba(0, 0, 0, 0.1);
}

html,
body {
  background-color: var(--neutral-grey);
  background-size: cover, 40px 40px;
  background-blend-mode: multiply;
  transition: background-color 0.5s ease, background-image 0.5s ease;
  background-image: none;
  overflow-y: auto;
}
