:root {
  /* Pikachu Yellow */
  --pikachu-yellow: #ffcb05;
  /* Charmander Orange */
  --charmander-orange: #ffa756;
  /* Bulbasaur Green */
  --bulbasaur-green: #7ac74f;
  /* Squirtle Blue */
  --squirtle-blue: #4bc1c8;
  /* Neutral Grey */
  --neutral-grey: #bebebe;
  /* Light Pattern Overlay */
  --light-overlay: rgba(255, 255, 255, 0.2);
  /* Dark Pattern Overlay */
  --dark-overlay: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(
    --neutral-grey
  ); /* Base color is set to a neutral grey for a subtle background */
  background-image: repeating-linear-gradient(
    135deg,
    /* Diagonal stripe pattern with subtle Pokémon colors */
      var(--light-overlay) 0,
    var(--light-overlay) 15px,
    var(--dark-overlay) 15px,
    var(--dark-overlay) 30px
  );
  background-size: cover, 40px 40px; /* Cover the whole background with radial gradient, 40px stripes for the pattern */
  background-blend-mode: multiply; /* Blend the pattern and the gradient for a cohesive look */
}
