/* HTML CSS */
html {
  scroll-behavior: smooth;
}

/* Main CSS */
.main-container {
  margin: 1.25rem auto 2rem;
  margin-top: 1.25rem;
  padding: 0.75rem 1rem;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
}

@media (min-width: 1260px) {
  .main-container {
    border-radius: 6px;
    max-width: 1260px;
  }
}

/* Header CSS */
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.2;
  overflow-wrap: break-word;
}

/* FAQ Container CSS */
.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.faq-header {
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* Panel CSS */
.panel-faq {
  background-color: var(--bg-color-panel);
  color: var(--text-panel);
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.panel-faq-question {
  font-weight: 700;
  font-size: 1.08rem;
}

.panel-faq-answer {
  background-color: var(--bg-color-answer);
  color: var(--text-panel);
  display: block;
  padding: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.panel-faq-answer-span {
  font-weight: 600;
}

.panel-faq a {
  color: var(--link-color-panel);
  text-decoration: none;
}

.panel-faq p.padding-bottom {
  padding-bottom: 0.5rem;
}

.panel-faq p.padding-top {
  padding-top: 0.5rem;
}

.panel-faq-span {
  font-weight: 700;
}

.panel-faq-span a {
  cursor: pointer;
}

.tabbing {
  padding-left: 1rem;
}
