:root {
  --panel-bg-color: #ededed;
  --panel-text-color: #333;
  --panel-link-color: #0063cc;
}

/* Header CSS */
.header-container {
  font-size: 1.75rem;
  line-height: 1.2;
  overflow-wrap: break-word;
}

/* Panel CSS */
.panel-home {
  background-color: var(--panel-bg-color);
  color: var(--panel-text-color);
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

.panel-home a {
  color: var(--panel-link-color);
  text-decoration: underline;
}
