/* Tailwind CSS v3.4.9 | https://tailwindcss.com */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bg-gradient-start: #505050;
  --bg-gradient-end: #0a0a0a;

  --bg-gradient-active-start: #30303020;
  --bg-gradient-active-end: #000000db;

  --navbar-link-color: #f4f4f5;

  --white-text: #f4f4f5;
  --yellow-text: #ffff8f;
}

/* Hero CSS */
.hero-container {
  position: relative;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  transition: max-height 0.5s ease, margin-top 0.5s ease;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 1;
}

.hero-image {
  width: auto;
  max-width: 100%;
  max-height: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
  transition: max-height 0.5s ease, margin-top 0.5s ease;
}

@media (min-width: 1260px) {
  .hero-image {
    max-height: 200px;
    margin-top: -35px;
  }
}

/* NavBar CSS */
.navbar {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-start),
    var(--bg-gradient-end)
  );
  padding: 5px 25px;
  transition: none;
}

@media (min-width: 1260px) {
  .navbar {
    z-index: 3;
    border-radius: 6px;
    margin-top: -26px;
    max-width: 1260px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: margin-top 0.5s ease, max-width 0.5s ease;
  }
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-item {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.navbar-item a img {
  transition: transform 0.3s ease;
}

.navbar-item.active {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-active-start),
    var(--bg-gradient-active-end)
  );
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.navbar-item.active a img {
  transform: scale(1.2);
}

.navbar-menu-heading {
  font-weight: 600;
  color: var(--navbar-link-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: flex-direction 0.5s ease, padding 0.5s ease;
}

@media (min-width: 880px) {
  .navbar-menu-heading {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 50px;
  }

  .navbar-text {
    padding-left: 8px;
  }
}

.navbar-icon {
  width: 32px;
  height: 32px;
}

/* Footer CSS */
.footer {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-start),
    var(--bg-gradient-end)
  );
  color: var(--white-text);
  padding: 8px;
}

.footer-container {
  text-align: left;
  margin-left: 8px;
  margin-bottom: 8px;
  transition: text-align 0.5s ease, margin-left 0.5s ease;
}

.footer-item {
  text-decoration-line: underline;
  color: var(--white-text);
  font-weight: 700;
  display: inline-block;
  margin-bottom: 8px;
}

.footer-item:hover {
  color: var(--yellow-text);
}

.footer-font {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 480px) {
  .footer-container {
    text-align: center;
    margin-left: 0;
  }
}
