/* Tailwind CSS v3.4.9 | https://tailwindcss.com */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bg-gradient-start: #505050;
  --bg-gradient-end: #0a0a0a;
  --navbar-link-color: #f4f4f5;
}

/* Hero CSS */
.hero-container {
  position: relative;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 1;
}

.hero-image {
  width: auto;
  max-width: 100%;
  max-height: 150px;
  height: auto;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 2;
}

/* NavBar CSS */
.navbar {
  background: linear-gradient(
    to bottom,
    var(--bg-gradient-start),
    var(--bg-gradient-end)
  );
  padding: 5px 25px;
}

@media (min-width: 1260px) {
  .navbar {
    z-index: 3;
    border-radius: 6px;
    margin-top: -26px;
    max-width: 1260px;

    /* position navbar centered */
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    /* add shadow */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-item {
  list-style: none;
}

.navbar-item a img {
  transition: transform 0.2s ease;
}

.navbar-item a:hover img {
  transform: scale(1.2);
}

.navbar-menu-heading {
  font-weight: 600;
  color: var(--navbar-link-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 800px) {
  .navbar-menu-heading {
    flex-direction: row;
    justify-content: space-between;
    /* reduce space between navbar items */
    padding: 5px 50px;
  }

  .navbar-text {
    padding-left: 8px;
  }
}

.navbar-icon {
  width: 32px;
  height: 32px;
}

.navbar-text {
  margin-top: 4px;
}
