:root {
  --panel-bg-color: #ededed;
  --panel-text-color: #333;
  --panel-link-color: #0063cc;

  --table-border-color: #b9b9b9;
}

/* HTML CSS */
html {
  scroll-behavior: smooth;
}

/* Main CSS */
.main-container {
  margin: 1.25rem auto 2rem;
  margin-top: 1.25rem;
  padding: 0.75rem 1rem;
  background-color: #fff;
  max-width: 100%;
  overflow: hidden;
}

@media (min-width: 1260px) {
  .main-container {
    border-radius: 6px;
    max-width: 1260px;
  }
}

/* Header CSS */
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.2;
  overflow-wrap: break-word;
}

/* Panel CSS */
.panel-pokedex {
  background-color: var(--panel-bg-color);
  color: var(--panel-text-color);
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.panel-pokedex a {
  color: var(--panel-link-color);
  text-decoration: none;
}

.panel-pokedex p.padding-bottom {
  padding-bottom: 0.5rem;
}

.panel-pokedex-span {
  font-weight: 700;
}

.panel-pokedex-span a {
  cursor: pointer;
  text-decoration: underline;
}

/* Type Icon Filter CSS */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1260px;
  margin: 10px auto;
  margin-bottom: 0;
  transition: all 0.5s ease;
}

/* @media (min-width: 620px) {
  .panel-filter {
    flex: 0 0 120px;
    max-width: 160px;
    display: block;
    order: 1;
  }

  .panel-filter .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
  }
} */

.icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: auto;
  transition: 200ms all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.small-icon {
  height: 25px;
  width: 25px;
}

.small-icon img {
  margin: 25%;
}

.bug {
  background: #92bc2c;
  box-shadow: 0 0 10px #92bc2c;
}

.dark {
  background: #595761;
  box-shadow: 0 0 10px #595761;
}

.dragon {
  background: #0c69c8;
  box-shadow: 0 0 10px #0c69c8;
}

.electric {
  background: #f2d94e;
  box-shadow: 0 0 10px #f2d94e;
}

.fire {
  background: #fba54c;
  box-shadow: 0 0 10px #fba54c;
}

.fairy {
  background: #ee90e6;
  box-shadow: 0 0 10px #ee90e6;
}

.fighting {
  background: #d3425f;
  box-shadow: 0 0 10px #d3425f;
}

.flying {
  background: #a1bbec;
  box-shadow: 0 0 10px #a1bbec;
}

.ghost {
  background: #5f6dbc;
  box-shadow: 0 0 10px #5f6dbc;
}

.grass {
  background: #5fbd58;
  box-shadow: 0 0 10px #5fbd58;
}

.ground {
  background: #da7c4d;
  box-shadow: 0 0 10px #da7c4d;
}

.ice {
  background: #75d0c1;
  box-shadow: 0 0 10px #75d0c1;
}

.normal {
  background: #a0a29f;
  box-shadow: 0 0 10px #a0a29f;
}

.poison {
  background: #b763cf;
  box-shadow: 0 0 10px #b763cf;
}

.psychic {
  background: #fa8581;
  box-shadow: 0 0 10px #fa8581;
}

.rock {
  background: #c9bb8a;
  box-shadow: 0 0 10px #c9bb8a;
}

.steel {
  background: #5695a3;
  box-shadow: 0 0 10px #5695a3;
}

.water {
  background: #539ddf;
  box-shadow: 0 0 10px #539ddf;
}

/* Pokedex Table Container CSS */
.pokedex-table-container {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  border-radius: 6px;
}

@media (max-width: 1200px) {
  .pokedex-table-container {
    overflow-x: auto;
  }
}

/* Pokedex Table CSS */
.pokedex-table {
  cursor: pointer;
}

.sticky-header {
  border-collapse: separate;
  border-spacing: 0;
}

.block-wide {
  width: 100%;
}

.sortwrap {
  position: relative;
}

.table-header {
  background-color: var(--panel-bg-color);
}

.cell-header {
  text-align: center;
}

/* Table Header and Cell CSS */
.sticky-header th {
  position: sticky;
  top: 0;
  border-top-width: 1px;
}

.sticky-header th,
.sticky-header td {
  border-width: 0 0 1px;
}

.pokedex-table th {
  padding: 8px 10px;
  text-align: left;
  white-space: nowrap;
  color: var(--panel-text-color);
}

.pokedex-table th,
.pokedex-table td {
  vertical-align: middle;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: var(--table-border-color);
}

th {
  font-weight: 600;
}

.cell-num {
  white-space: nowrap;
  text-align: center;
  color: var(--panel-text-color);
}

.cell-sprite {
  text-align: center;
}

td {
  padding: 8px 10px;
}

.pokemon-sprite {
  width: 70px;
  height: 70px;
}

.pokemon-sprite-fixed {
  display: inline-block;
  max-width: none;
}

.pokemon-td-name {
  min-width: 175px;
  line-height: 1.5;
  text-align: center;
}

.pokemon-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--panel-text-color);
}

.type-icon {
  display: flex;
  justify-content: center;
}

.pokedex-table .type-icon {
  margin: 1px 0;
}

.stat-num {
  white-space: nowrap;
  text-align: center;
  color: var(--panel-text-color);
}

.stat-total {
  font-weight: 600;
  color: var(--panel-text-color);
}
