:root {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bg-gradient-start: #505050;
  --bg-gradient-end: #0a0a0a;

  --bg-gradient-active-start: #30303020;
  --bg-gradient-active-end: #000000db;

  --bg-drop-gradient-active-start: #080808;
  --bg-drop-gradient-active-end: #5f5f5f;

  --border-color: #0a0a0a;
  --bg-hover-color: #55555550;

  --navbar-link-color: #f4f4f5;

  --white-text: #f4f4f5;
  --yellow-text: #ffff8f;
}

/* NavBar Dropdown CSS */
.navbar-sub-menu {
  position: absolute;
  top: 120%;
  left: 0;
  background: var(--bg-drop-gradient-active-start);
  border: 2px solid var(--border-color);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  width: calc(100vw - 20px);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

.navbar-sub-menu.visible {
  display: block;
}

@media (min-width: 880px) {
  .navbar-sub-menu {
    top: 130%;
  }
}

@media (min-width: 940px) {
  .navbar-sub-menu {
    width: calc(100vw - 10px);
    min-width: 150px;
    max-width: 100%;
  }
}

.navbar-sub-menu-games {
  left: -100%;
}

.navbar-sub-menu-world-cs {
  left: -200%;
}

.navbar-sub-menu-login {
  left: -300%;
}

@media (min-width: 940px) {
  .navbar-sub-menu-games,
  .navbar-sub-menu-world-cs,
  .navbar-sub-menu-login {
    left: 0;
  }
}

.dropdown-item {
  font-weight: 600;
  color: var(--white-text);
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.dropdown-item:hover {
  background-color: var(--bg-hover-color);
  color: var(--yellow-text);
}
